nav{
    width: 100%;
    height: 80px;
    background-color: rgb(56, 54, 54);
}

.Logo{
    padding-left: 70px;
    padding-top: 20px;
    color: white;
}

.Logo h3{
    font-size: 20px;
    font-family: 'Bungee Shade', cursive;
    font-weight: 600;
}

.nav-con ul{
    list-style: none;
}

.nav-con{
    width: 540px;
    height: 30px;
    margin: 1%; 
    float: right; 
}

.nav-con li{
    width: 105px;
    height: 40px;
    float: left;
    margin: 1%;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 9px;
    border: 2px solid white;
}

.nav-con li:hover{
    background-color: black;
    color: white;
    padding-top: 9px;
    border: 2px solid black;
    cursor: pointer;
    width: 105px;
    height: 40px;
    margin: 1%;
    text-align: center;
    border-radius: 5px;
}

.header{
    width: 100%;
    height: 600px;
    background-image: url("../assets/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.overlay{
    width: 100%;
    height: 600px;
    background-color: rgba(0,0,0,0.6);
}

.header h3{
    padding-left: 50px;
    padding-top: 100px;
    font: italic;
    font-family: 'Oswald', sans-serif;
}

.header h1{
    padding-left: 50px;
    font: italic;
    font-family: 'Anton', sans-serif;
}

.header p{
    padding-left: 50px;
    font: italic;
}

.btn-one{
    width: 200px;
    height: 40px;
    float: left;
    margin: 1%;
    border-radius: 5px;
    background-color: lightgray;
    color: white;
    text-align: center;
    padding-top: 5px;
    border: 2px solid white;
    margin-left: 50px;
}

.Sign-up{
    width: 100%;
    height: 110px;
    background-color: rgb(56, 54, 54);
    text-align: center;
    color: white;
    padding-top: 40px;
    font-family: 'Oswald', sans-serif;
}

.Sign-up h1{
    font-size: 30px;
}

.circle-image{
    height: 400px;
    width: 400px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 50%;
    background-image: url("../assets/hands.jpg");
    background-size: cover;
    background-position: center;
}

.description{
    margin-top: 150px;
    margin-right: 100px;
}

.Get-Ready{
    font-family: 'Oswald', sans-serif;
}

.More{
    font-family: 'Anton', sans-serif;
}

.btn-two{
    width: 200px;
    height: 40px;
    float: left;
    margin: 1%;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 5px;
    border: 2px solid black;
}

.The-gang{
    margin-top: 150px;
    text-align: center;
}

.round-image{
    height: 150px;
    width: 150px;
    margin: 1%;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-image: url("../assets/old_eleven.png");
    background-size: cover;
    background-position: center;
}

.round-frame{
    height: 150px;
    width: 150px;
    margin: 1%;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-image: url("../assets/old_mike.png");
    background-size: cover;
    background-position: center;
}

.round-picture{
    height: 150px;
    width: 150px;
    margin: 1%;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-image: url("../assets/old_dustin.png");
    background-size: cover;
    background-position: center;
}

.round-profile{
    height: 150px;
    width: 150px;
    margin: 1%;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-image: url("../assets/zombie.jpg");
    background-size: cover;
    background-position: center;
}


.col-3,h4{
    text-align: center;
}

.col-3,p{
    margin-top: 30px;
}

.button-group{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 80px;
    text-align: center;
    border-color: black;
    
}

.normal-button{
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text{
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center
}

.box{
    
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.content{
    margin-left: 40px;
}

.inverted-button{
    width: 200px;
    height: 40px;
    float: left;
    margin: 1%;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 5px;
    border: 2px solid black;
    
}

.words{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center
}

.square{
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 150px;
}

.footer{
    height: 150px;
    background-color: rgb(34, 34, 34);
    color: white;
    margin-top: 20px;
    text-align: center;
    padding-top: 40px;
    font-style: italic;
}

.youtube-icon{
    height: 50px;
    width: 50px;
    margin: 1%;
    border-radius: 50%;
    float: left;
    background-image: url("../assets/social-01.svg");
    background-size: cover;
    background-position: center;
}

.facebook-icon{
    height: 50px;
    width: 50px;
    margin: 1%;
    border-radius: 50%;
    float: left;
    background-image: url("../assets/social-02.svg");
    background-size: cover;
    background-position: center;
}

.twitter-icon{
    height: 50px;
    width: 50px;
    margin: 1%;
    border-radius: 50%;
    float: left;
    background-image: url("../assets/social-03.svg");
    background-size: cover;
    background-position: center;
}

.instagram-icon{
    height: 50px;
    width: 50px;
    margin: 1%;
    border-radius: 50%;
    float: left;
    background-image: url("../assets/social-04.svg");
    background-size: cover;
    background-position: center;

}

.icons{
    margin-left: 550px;
}


